$scaleX: 1440;
$scaleY: 1024;

@mixin f-style($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	color: #4f4f4f;
}

.app {
	overflow: hidden;
	height: 100vh;
	width: 100%;
	@include f-style(column, center, center);
}

.search-box {
	position: absolute;
	@include f-style(column, flex-start, center);
	height: (188 / $scaleY) * 100vh;
	width: (877 / $scaleX) * 100vw;
	.logo {
		margin: 0;
		position: absolute;
		top: 0px;
		font-size: (36 / $scaleX) * 100vw;
		font-weight: 100;
		pointer-events: none;
		.logo-stars {
			font-weight: normal;
			color: #5253b9;
		}
		z-index: 1000;
	}
	.input-box {
		position: absolute;
		bottom: 0px;
		@include f-style(row, center, center);
		.search-field {
			width: (809 / $scaleX) * 100vw;
			height: (91 / $scaleY) * 100vh;
			padding: 0 (34 / $scaleX) * 100vw;
			border: none;
			border-bottom: 1px solid transparent;
			outline: none;
			box-shadow: 2px 2px 10px 0px rgba($color: #000000, $alpha: 0.15);
		}
		.search-field:focus::-webkit-input-placeholder {
			color: transparent;
		}
		.search-field:focus:-moz-placeholder {
			color: transparent;
		} /* FF 4-18 */
		.search-field:focus::-moz-placeholder {
			color: transparent;
		} /* FF 19+ */
		.search-field:focus:-ms-input-placeholder {
			color: transparent;
		} /* IE 10+ */
		.search-icon {
			position: absolute;
			right: (34 / $scaleX) * 100vw;
		}
	}
}

.user-not-found-box {
	@include f-style(column, center, center);
	.user-not-found-message {
		font-weight: 100;
		font-size: (32 / $scaleX) * 100vw;
	}
}

.user-box {
	position: absolute;
	top: (160 / $scaleY) * 100vh;
	@include f-style(row, center, flex-start);
	.profile-box {
		position: relative;
		top: (32 / $scaleY) * 100vh;
		width: (232 / $scaleX) * 100vw;
		height: (680 / $scaleY) * 100vh;
		padding: 0;
		border-radius: 5px 0 0 5px;
		color: white;
		background-color: #5253b9;
		@include f-style(column, space-between, center);
		.main-info {
			position: relative;
			background-color: rgba($color: #000000, $alpha: 0.09);
			border-radius: 5px 0 0;
			width: 100%;
			height: 51%;
			@include f-style(column, center, center);
			.user-profile-img {
				position: absolute;
				height: (180 / $scaleY) * 100vh;
				top: (30 / $scaleY) * 100vh;
				border-radius: 50%;
			}
			.user-name {
				position: absolute;
				bottom: (60 / $scaleY) * 100vh;
				margin: 0px;
				font-size: (20 / $scaleX) * 100vw;
				font-weight: 400;
			}
			.user-login {
				position: absolute;
				bottom: (27 / $scaleY) * 100vh;
				margin: 0px;
				font-size: (20 / $scaleX) * 100vw;
				font-weight: 300;
			}
		}
		.secondary-info {
			position: relative;
			height: 49%;
			width: 100%;
			font-size: (14 / $scaleX) * 100vw;
			.bio {
				margin: (15 / $scaleY) * 100vh (16 / $scaleX) * 100vw;
			}
			.minor-info {
				margin: (10 / $scaleY) * 100vh 0;
				margin-left: (18 / $scaleX) * 100vw;
			}
			.info-icon {
				position: relative;
				top: (7 / $scaleY) * 100vh;
				margin-right: (10 / $scaleX) * 100vw;
			}
			.website {
				color: white;
			}
		}
	}
	.repositories {
		width: (900 / $scaleX) * 100vw;
		height: (770 / $scaleY) * 100vh;
		padding-top: (30 / $scaleY) * 100vh;
		box-shadow: 4px 4px 40px 0px rgba($color: #000000, $alpha: 0.25);
		border-radius: 5px;
		@include f-style(column, flex-start, center);
		overflow: scroll;
		&::-webkit-scrollbar {
			width: 6px; /* remove scrollbar space */
			background: transparent; /* optional: just make scrollbar invisible */
		}
		/* optional: show position indicator in red */
		&::-webkit-scrollbar-thumb {
			background: #808080;
			border-radius: 5px;
		}
		.single-repository {
			width: (750 / $scaleX) * 100vw;
			min-height: (225 / $scaleY) * 100vh;
			margin: (30 / $scaleY) * 100vh 0;
			padding: 0 (32 / $scaleX) * 100vw;
			border-radius: 5px;
			box-shadow: 1px 1px 5px 0px rgba($color: #000000, $alpha: 0.15);
			@include f-style(row, space-between, center);
			.repository-info {
				height: (160 / $scaleY) * 100vh;
				@include f-style(column, space-between, flex-start);
				.repository-title {
					margin: 0;
					font-size: (20 / $scaleX) * 100vw;
					font-weight: 400;
				}
				.repository-description {
					margin: 0;
					font-size: (16 / $scaleX) * 100vw;
					font-weight: 300;
					max-width: (630 / $scaleX) * 100vw;
				}
				.repository-stars {
					margin: 0;
					font-size: (16 / $scaleX) * 100vw;
					font-weight: 300;
					.star-icon {
						position: relative;
						top: (5 / $scaleY) * 100vh;
						margin-right: (8 / $scaleX) * 100vw;
					}
				}
			}
			.star-button {
				width: (90 / $scaleX) * 100vw;
				height: (60 / $scaleY) * 100vh;
				border-radius: 5px;
				background-color: transparent;
				border: 2px solid #5152b7;
				color: #5152b7;
				cursor: pointer;
				outline: none;
			}
		}
	}
}
